@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

html,
body {
  height: 100%;
  margin: 0
}

.App {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: rgb(9, 18, 27);
  overflow-x: hidden;
}

.row.header {
  flex: 0 1 auto;
}

.row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  
}

.row h2, p, label,h3{
  color:#f5f5f5;
}




